extends ../../layouts/default.pug 

block main 

  if (data.title)
    h1(class="mb-4") #{data.title}

  if (data.description)
    div(class="mb-4") !{data.description} 
    //- chuyển #{} thành !{} để hiển thị html, vì chúng lưu mã html

  a( 
    href=`${prefixAdmin}/roles/edit/${data.id}`
    class="btn btn-warning btn-sm"
    ) Chỉnh sửa

  script(src="admin/js/role.js")